$red: red;
$green: green;
$blue: blue;
$lightgrey: lightgrey;
h1{
    color: $red;
}
footer{
    background-color: $lightgrey;
    h4{
        color: $green;
        a{
            color: $blue;
        }
    }
}