/* 
Num filas y tamaño: grid-template-rows
Num columnas y tamaño: grid-template-columns
Separación entre las filas: grid-row-gap
Separación entre columnas: grid-column-gap
//Grid basico
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-columns: repeat(3, 100px);
gap: .5rem;
//Justificacion del contenido
justify-content: space-*;
align-content: space-*;

*/

.layout {
    width: 1200px;
    height: 600px;
    background-color: #aaa;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* gap: 1rem; */
    justify-content: space-around;
    align-content: space-between;
}

.cell {
    text-align: center;
    background-color: #c3c3c3;
    color: #333;
    border-radius: 3px;
    padding: 20px;
    font-size: 40px;
}

/* .h {
    grid-column: 2/4;
    grid-row: 1/2;
}

.b {
    grid-column: 1/span 2;
    grid-row: 2/4;
}

.d {
    grid-row: 2/3;
    grid-column: 3/4;
} */