*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    /* grid-area: header; */
    grid-column: 1/span 2;
}

.content {
    /* grid-area: content; */
}

.sidebar {
    /* grid-area: sidebar; */
}

.footer {
    /* grid-area: footer; */
    grid-column: 1/span 2;
}

.cell {
    background-color: lightgrey;
    color: #333;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
    border: grey groove .3rem;
}

.layout {
    display: grid;
    gap: .5rem;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 70% auto;
    align-items: stretch;
    /* grid-template-areas: "... header header header " "sidebarcontentcontentcontent" "footerfooterfooterfooter" */
}